@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;

    /* --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem; */
    --foreground: 198 15% 22%;
    --muted: 198 8% 45%;
    --muted-foreground: 201 28% 4%;
    --header: 200 27% 9%;

    --primary: 201 99% 31%;
    --primary-1ig: 201 45% 72%;
    --primary-drk: 200 100% 9%;
    --primary-foreground: 201 3% 96%;

    --secondary: 28 92% 54%;
    --secondary-lig: 28 86% 79%;
    --secondart-drk: 28 78% 16%;
    --secondary-foreground: 0 0% 100%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 201 28% 4%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    /* text-gray */
    --foreground: 0 0% 98%;
    /* text-muted */
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* primary */
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    /* secondary */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    /* teritary */
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    /* error */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

.font-oswald {
  font-family: var(--font-oswald);
}
html {
  @apply text-foreground;
}

.sub-header {
  @apply text-2xl py-8 text-start w-full;
}

.icon-sm {
  @apply w-3 h-3;
}

.icon-md {
  @apply w-4 h-4;
}

.icon-lg {
  @apply w-6 h-6;
}

.icon-xl {
  @apply w-8 h-8;
}

.section {
  @apply my-12;
}

.section-header {
  @apply text-header sm:text-3xl text-xl text-start pb-8 w-full font-bold;
}

.page-header {
  @apply text-header text-2xl sm:text-3xl text-start py-8 w-full font-bold;
}

.header {
  @apply text-header font-bold font-header;
}

main {
  @apply min-h-[70vh];
}

#hero {
  background-image: url("../../public/student.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 490px;
}

#hero .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 23, 59, 0.8) 40%
  );
  z-index: 1;
}

.vertical-nav {
  z-index: 100;
}
